#center, #top, #bottom {
    height: 31vh;
    width: 100%;
    margin: 1vh 0 0 0;
}

span{
    overflow: hidden;
}

section#top > div {
    height: 90%;
    width: 30%;
    max-width: 250px;
    margin: 0 20px;
    border-bottom: white 2px solid;
}

section#top > div:hover {
    background: rgba(149, 149, 149, 0.28);
}

div.hour-chart {
    height: 100%;
    width: 95%;
    margin: auto;
}

div.humidity-chart, div#temperature {
    height: 100px;
    width: 120px;
}

div#current > *, div#humidity > * {
    margin: 5px;
}

div#temperature {
    width: 100%;
}

div#city > span, div#current-weather > span, div#humidity > span {
    font-size: 3vh;
}

span#current-temp {
    font-size: 4vh;
    margin: 0 10px;
}

span#min-temp, span#max-temp{
    font-size: 1.5vh;
}

footer {
    height: 3vh;
    width: 100%;
}