#day-slider{
    width: auto;
    min-width: calc(160px*5);
    height: 100%;
    overflow-x: auto;
    margin: auto;
}

.day-slider-card{
    width: 140px;
    min-width: 80px;
    height: 200px;
    background: rgba(149, 149, 149, 0.28);
    margin: 0 10px;

    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}